[submodule "ext/sdl"]
	path = ext/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/dear_bindings"]
	path = ext/dear_bindings
	url = https://github.com/dearimgui/dear_bindings.git
[submodule "ext/sdl_net"]
	path = ext/sdl_net
	url = https://github.com/libsdl-org/SDL_net.git
[submodule "ext/imgui_styles"]
	path = ext/imgui_styles
	url = https://github.com/GraphicsProgramming/dear-imgui-styles.git
[submodule "ext/libsodium"]
	path = ext/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "ext/sdl_image"]
	path = ext/sdl_image
	url = https://github.com/libsdl-org/SDL_image.git
