[submodule "ext/sdl"]
	path = ext/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/dear_bindings"]
	path = ext/dear_bindings
	url = https://github.com/dearimgui/dear_bindings.git
